/* Установим отступы в зависимости от Safe Area */
:root {
  --tg-safe-area-inset-top: 0px;
  --tg-safe-area-inset-bottom: 0px;
  --tg-safe-area-inset-left: 0px;
  --tg-safe-area-inset-right: 0px;
}

/* Использование этих переменных в стилизации */
body {
  margin-top: var(--tg-safe-area-inset-top);
  margin-bottom: var(--tg-safe-area-inset-bottom);
  margin-left: var(--tg-safe-area-inset-left);
  margin-right: var(--tg-safe-area-inset-right);
}
